<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
      <img class="attchment user profile_image fallback" alt="No image">
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th>    </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>            </th>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
    </div>
    <div class="create-book">
    <h2><b>New book</b></h2>
      <%= form_with model:@book, local:true do |f| %>
    <h3 class="book-title">Title</h3>
      <% f.text_field :title %>
    <h3 class="book-opinion">Opinion</h3>
      <% f.text_area :oninion %>
    <p class="create-button"><button class="btn btn-primary"><%= submit "Create Book" %></button></p>

    <div class="col-lg-9">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img class="attchment user profile_image fallback" alt="No image icon" >
            </td>
            <td>
              gggggggg
            </td>
            <td>
              gggggggg
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>